input {
  width: 300px;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  color: #000000; 
  border: 2px solid #ddebe4;
  text-align: left;
  padding: 10px;
  background-color: rgb(171, 170, 170);
}


.cajon {
  overflow-y: auto;
  max-height: 900px;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.cajon::-webkit-scrollbar {
  width: 10px;
}

.cajon::-webkit-scrollbar-thumb {
  background-color: #9d5e5e;
}

.cajon {
  margin-right: 200px;
  margin-left: 200px;
}

@media only screen and (max-width: 600px) {
  .cajon {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.descargar-pdf {
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  padding: 12px 14px;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 18px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.descargar-pdf i {
  margin-right: 3px;
}
.descargar-pdf:hover {
  background-color: #258cd1;
}
