input {
  width: 300px;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  text-align: left;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #f3f3f3bb;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

th {
  background-color: #4a83ffd3;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  text-align: center;
}

td {
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #1c1c1c;
}

tr:nth-child(odd) {
  background-color: #f3f3f3ac;
}


.cajon {
  overflow-y: auto;
  max-height: 900px;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.cajon::-webkit-scrollbar {
  width: 10px;
}

.cajon::-webkit-scrollbar-thumb {
  background-color: #9d5e5e;
}

.cajon {
  margin-right: 200px;
  margin-left: 200px;
}

@media only screen and (max-width: 600px) {
  .cajon {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.descargar-pdf {
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  padding: 12px 14px;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 18px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.descargar-pdf i {
  margin-right: 3px;
}
.descargar-pdf:hover {
  background-color: #258cd1;
}
