table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #f3f3f3bb;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  th {
    background-color: #81a3ec87;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    text-align: center;
  }
  
  td {
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #1c1c1c;
  }
  
  tr:nth-child(odd) {
    background-color: #f3f3f3ac;
  }
  

  .Cajon3 {
    overflow-y: auto;
    max-height: 900px; 
    margin-right: 0; 
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.Cajon3::-webkit-scrollbar {
    width: 10px; /* Ajusta el ancho de la barra según tu diseño */
}

.Cajon3::-webkit-scrollbar-thumb {
    background-color:#3a3a3a; /* Hace la barra de desplazamiento transparente */
}

.Cajon2{
    background-color: rgba(169, 244, 141, 0.135); 
    margin-right: 200px; 
    margin-left: 200px;
}

@media only screen and (max-width: 600px) {
    .Cajon2 {
        margin-right: 10px; 
        margin-left: 10px;
    }
}
