table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    color: #dddddd;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  

  .Cajon3 {
    overflow-y: auto;
    max-height: 900px; 
    margin-right: 0; 
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.Cajon3::-webkit-scrollbar {
    width: 10px; /* Ajusta el ancho de la barra según tu diseño */
}

.Cajon3::-webkit-scrollbar-thumb {
    background-color:#3a3a3a; /* Hace la barra de desplazamiento transparente */
}

.Cajon2{
    background-color: rgba(169, 244, 141, 0.135); 
    margin-right: 200px; 
    margin-left: 200px;
}

@media only screen and (max-width: 600px) {
    .Cajon2 {
        margin-right: 10px; 
        margin-left: 10px;
    }
}
