.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* o cualquier otro color de fondo que prefieras */
    z-index: 9999;
    /* para que aparezca por encima de todo lo demás */
  }


  .title1{
    color: white;
  }
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 12px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.salir{
    background-color: #0062ff;
}

.salir:hover{
    background-color: #65a0ff;
}
li a.active, li a:hover{
    border-radius: 10%;
    caret-color: white;
    background: #0078ef8f;
    transition: .5s;
    color: #fff;
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1300px){
    .checkbtn{
        display:block; 
    }
    ul{
        position: fixed;
        width: 80%;
        height: 100vh;
        background: rgba(116, 115, 115, 0.726);
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #447cd6;
        text-decoration: none;
    }
    #check:checked ~ ul{
        left:0;
    }

}