.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* o cualquier otro color de fondo que prefieras */
    z-index: 9999;
    /* para que aparezca por encima de todo lo demás */
  }


  body {
    background-image: url(/Coriport/src/app/Assets/img/EmpleadoFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'century Gothic', sans-serif;
    margin: 0; /* Asegúrate de que no haya márgenes en el cuerpo del documento */
    height: 100vh; /* Establece la altura del cuerpo al 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
    
 }
 


 #miFormulario{
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
 }

.H {
    display: block;
    margin-bottom: 8px;
}

.A {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

 .contenedor {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.boton-abrir {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.pantalla-emergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pantalla-emergente .contenedor {
    width: 700px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.pantalla-emergente .cerrar {
    margin-top: 10px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}





  .title1{
    color: white;
  }
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 10.5px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.cerrar{
    background-color: #0062ff;
}

.cerrar:hover{
    background-color: #65a0ff;
}

.salir{
    background-color: #0062ff;
}

.salir:hover{
    background-color: #65a0ff;
}

.boton-abrir{
    background-color: #00900e;
}

.boton-abrir:hover{
    background-color: #65ff6f96;
}
li a.active, li a:hover{
    border-radius: 8px;
    caret-color: white;
    background: #0078ef8f;
    transition: .5s;
    color: #fff;
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1330px){
    .checkbtn{
        display:block; 
    }
    ul{

        overflow-y: auto;
        max-height: 100vh;
        margin: 0;
        padding: 0;

        position: fixed;
        width: 80%;
        height: 100vh;
        background: rgba(72, 72, 72, 0.861);
        left: -100%;
        text-align: center;
        transition: all .5s;
    }


    ul::-webkit-scrollbar {
        width: 12px; /* Ajusta el ancho de la barra según tu diseño */
    }
    
    ul::-webkit-scrollbar-thumb {
        background-color:#3a3a3a; /* Hace la barra de desplazamiento transparente */
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #447cd6;
        text-decoration: none;
    }
    #check:checked ~ ul{
        left:0;
    }

}