table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    color: #dddddd;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  
  tr:nth-child(even) {
    background-color: #738fb9;
  }

  .Cajon4 {
    overflow-y: auto;
    max-height: 900px; 
    margin-right: 0; 
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.Cajon4::-webkit-scrollbar {
    width: 10px; /* Ajusta el ancho de la barra según tu diseño */
}

.Cajon4::-webkit-scrollbar-thumb {
    background-color:#3a3a3a; /* Hace la barra de desplazamiento transparente */
}

.Cajon6{
    background-color: rgba(169, 244, 141, 0.135); 
    margin-right: 200px; 
    margin-left: 200px;
}

@media only screen and (max-width: 600px) {
    .Cajon6 {
        margin-right: 10px; 
        margin-left: 10px;
    }
}




.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.popup-content {
  color: #333;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



#justificacion {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#justificacion:hover {
  background-color: rgb(115, 182, 253);

}


