table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    color: #dddddd;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  
  tr:nth-child(even) {
    background-color: #738fb9;
  }

  .Cajon0 {
    overflow-y: auto;
    max-height: 900px; 
    margin-right: 0; 
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.Cajon0::-webkit-scrollbar {
    width: 10px; /* Ajusta el ancho de la barra según tu diseño */
}

.Cajon0::-webkit-scrollbar-thumb {
    background-color:#3a3a3a; /* Hace la barra de desplazamiento transparente */
}

.Cajon8{
    background-color: rgba(169, 244, 141, 0.135); 
    margin-right: 200px; 
    margin-left: 200px;
}

@media only screen and (max-width: 600px) {
    .Cajon8 {
        margin-right: 10px; 
        margin-left: 10px;
    }
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-content {
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #0056b3;
}