<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../Login/Login.css">
</head>
<body>
    
  <center><h1>Marca con Face</h1></center>
    <video id="video" autoplay></video>
    <button class="H" id="captureButton" type="button">Tomar Foto</button>
    <canvas id="canvas" style="display: none;"></canvas>
    <button class="H" id="enviarButton" type="button">Enviar</button>


  <script src="https://cdn.lordicon.com/lordicon.js"></script>
  <script src="/Coriport/src/app/components/LoginComponent.js"></script>
  <script type="text/javascript" src="/Coriport/src/app/Scripts/ScriptLogin/Login.js"></script>
  <script src="/Coriport/src/app/Scripts/MessagesInfo.js"></script>
  <script src="/Coriport/src/app/Scripts/restriccionRoles.js"></script>
</body>
</html>