#btnCrearHorario{
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#btnCrearHorario:hover{
background-color: #47a0ff;
}

#busquedaHorario {
    width: 500px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 8px;
  }

.horario-container {
    background-color: #cfe6ff;
    padding: 20px;
    border-radius: 7px;
    margin: 20px;
}

#horario-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}


