/* Botón Crear Horario */
#btnCrearHorario {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#btnCrearHorario:hover {
    background-color: #47a0ff;
}

/* Estilo del campo de búsqueda */
#busquedaHorario {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
}

/* Contenedor de la tabla */
.horario-container {
    background-color: #cfe6ff;
    padding: 20px;
    border-radius: 7px;
    margin: 20px;
}

/* Tabla de horarios */
#horario-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

td {
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    height: 40%;
    border: 0;
    text-align: center;
}

/* Contenedor principal */
.cajon {
    background-color: #cfe6ff;
    padding: 10px 20px;
    border-radius: 7px;
}
.cajon-responsive {
    width: 100%;
    overflow-x: auto;
}

.cajon-responsive table {
    width: 100%;
    min-width: 600px; /* Ajusta esto según sea necesario */
}

#busquedaHorario-responsive {
    width: 100%;
    overflow-x: auto;
}

#busquedaHorario-responsive table {
    width: 100%;
    min-width: 600px; /* Ajusta esto según sea necesario */
}
