.mensaje-container {
    position: fixed;
    top: 20px;
    display: flex;
    align-items: center;
    width: 320px;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    right: -400px;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.mensaje-container .icon-container {
    margin-right: 15px;
}

.mensaje-container .icon-container i {
    font-size: 28px;
    color: #4CAF50; /* Color por defecto para el ícono */
}

.mensaje-container .mensaje {
    flex: 1;
    font-size: 17px;
    color: #333333;
}

.mensaje-info {
    border-left: 5px solid #4CAF50;
}

.mensaje-error {
    border-left: 5px solid #FF3D00;
}

.mensaje-info .icon-container i {
    color: #4CAF50;
}

.mensaje-error .icon-container i {
    color: #FF3D00;
}

@keyframes slideIn {
    0% {
        right: -400px;
        opacity: 0;
    }
    100% {
        right: 10px; /* Ajusta esta posición según lo que necesites */
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        right: 10px; /* Ajusta esta posición según lo que necesites */
        opacity: 1;
    }
    100% {
        right: -400px;
        opacity: 0;
    }
}

.mensaje-container.slide-in {
    animation: slideIn 0.5s forwards;
}

.mensaje-container.slide-out {
    animation: slideOut 0.5s forwards;
}
