<link rel="stylesheet" type="text/css" href="../Encargado/styles/empleado.css">

<body>

    <center>
        <h2 style="color: white;">Registros de los Empleado</h2>
    </center>
    <br>
    <br>
    <br>
    <br>
    <h2 style="color: white;">Registro de Empleados</h2>
    <br>
    <div class="cajon">
        <div>
            <button id="btnAbrirFormulario"
                onclick="document.getElementById('fondoNegroFormAdd').style.display='flex'">Registrar empleado </button>
        </div>
        <br>
        <div>
            <input type="text" id="busquedaEmpleado" placeholder="Buscar empleado..." oninput="filtrarEmpleados()">
        </div>

        <div id="fondoNegroFormAdd" class="fondoNegroForm">
            <div class="formAjuste">
                <form class="form">

                    <label for="email">Correo electrónico</label>
                    <input type="text" id="email" name="email" required>

                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" required>

                    <label for="tipoUsuario">Tipo de usuario:</label>
                    <select id="tipoUsuario" name="tipoUsuario" required>
                        <option value="">Seleccione el tipo de usuario</option>
                        <option value="Empleado">Empleado</option>
                        <option value="Encargado">Encargado</option>
                    </select>

                    <br>
                    <br>

                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>

                    <label for="apellido1">Primer apellido:</label>
                    <input type="text" id="apellido1" name="apellido1" required>

                    <label for="apellido2">Segundo apellido:</label>
                    <input type="text" id="apellido2" name="apellido2" required>

                    <label for="telefono1">Teléfono 1:</label>
                    <input type="text" id="telefono1" name="telefono1" required>

                    <label for="telefono2">Teléfono 2:</label>
                    <input type="text" id="telefono2" name="telefono2" required>

                    <label for="cedula">Cédula:</label>
                    <input type="text" id="cedula" name="cedula" required>

                    <label for="fechContrat">Fecha de Contratación (YYYY-MM-DD):</label>
                    <input type="date" id="fechContrat" name="fechContrat" required>

                    <!--<label for="idUsuario">Correo del empleado:</label>
                    <select id="idUsuario" name="idUsuario" required>
                        <option value="">Selecciona un Correo</option>
                    </select>-->

                    <br>

                    <label for="idPuesto">Puesto:</label>
                    <select id="idPuesto" name="idPuesto" required>
                        <option value="">Seleccione un puesto</option>
                    </select>

                    <br>
                    <br>
                    <br>

                    <button id="sendUser" type="button" onclick="">Guardar</button>
                    <button type="button"
                        onclick="document.getElementById('fondoNegroFormAdd').style.display='none'">Cancelar</button>

                </form>
            </div>
        </div>

        <div id="fondoNegroFormUpdate" class="fondoNegroForm">
            <div class="formAjuste">
                <form class="form">

                    <label for="updateNombre">Nombre:</label>
                    <input type="text" id="updateNombre" name="updateNombre" required>

                    <label for="updateApellido1">Primer apellido:</label>
                    <input type="text" id="updateApellido1" name="updateApellido1" required>

                    <label for="updateApellido2">Segundo apellido:</label>
                    <input type="text" id="updateApellido2" name="updateApellido2" required>

                    <label for="updateTelefono1">Teléfono 1:</label>
                    <input type="text" id="updateTelefono1" name="updateTelefono1" required>

                    <label for="updateTelefono2">Teléfono 2:</label>
                    <input type="text" id="updateTelefono2" name="updateTelefono2" required>

                    <label for="updateCedula">Cédula:</label>
                    <input type="text" id="updateCedula" name="updateCedula" required>

                    <label for="updateFechContrat">Fecha de Contratación:</label>
                    <input type="date" id="updateFechContrat" name="updateFechContrat" required>

                    <!--<label for="idUsuario">Correo del empleado:</label>
                    <select id="idUsuario" name="idUsuario" required>
                        <option value="">Selecciona un Correo</option>
                    </select>-->

                    <br>

                    <label for="updatePuesto">Puesto:</label>
                    <select id="updatePuesto" name="updatePuesto" required>
                        <option value="">Seleccione un puesto</option>
                    </select>

                    <br>
                    <br>
                    <br>

                    <button id="updateE" type="button" onclick="">Guardar</button>
                    <button type="button"
                        onclick="document.getElementById('fondoNegroFormUpdate').style.display='none'">Cancelar</button>

                </form>
            </div>
        </div>

        <div id="message" class="message" style="display: none;"></div>
        <div class="tabla">
            <table id="employee-table" border="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Teléfonos</th>
                        <th>Cédula</th>
                        <th>Fecha Contratación</th>
                        <th>Correo</th>
                        <th>Puesto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="dataTableE">

                </tbody>
            </table>
        </div>
        <br>
        
        <button id="eliminar"
            style="background-color: #ff0000; color: white; padding: 10px 20px; border-radius: 5px; border: none; cursor: pointer; display: none;">Eliminar</button>
        <button id="actualizar"
            style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; border: none; cursor: pointer; display: none;">Actualizar</button>
    </div>
    </div>

    </div>



    <br>
    <br>

    <script>
        var eliminarButton = document.getElementById("eliminar");
        var actualizarButton = document.getElementById("actualizar");
        var tabla = document.getElementById("employee-table");

        const selectPuestos = document.getElementById('idPuesto');
        const consultaPuestos = document.getElementById('btnAbrirFormulario');

        consultaPuestos.addEventListener('click', function () {

            fetch('http://localhost:8000/api/puestos')
                .then(response => response.json())
                .then(result => {
                    const data = result.data;


                    selectPuestos.innerHTML = '';

                    const opcionPredeterminada = document.createElement('option');
                    opcionPredeterminada.value = '';
                    opcionPredeterminada.textContent = 'Selecciona un puesto';
                    selectPuestos.appendChild(opcionPredeterminada);

                    data.forEach(puesto => {
                        const opcion = document.createElement('option');
                        opcion.value = puesto.idPuesto;
                        opcion.textContent = puesto.puesto;
                        selectPuestos.appendChild(opcion);
                    });
                })
                .catch(error => {
                    console.error('Error al obtener los puestos:', error);
                });

        });


        tabla.addEventListener('change', function (event) {
            let seleccionados = document.querySelectorAll('input[type="checkbox"]:checked');
            if (event.target.type === 'checkbox') {
                if (seleccionados.length > 1) {
                    event.target.checked = false;

                    alert('¡Solo puede seleccionar un empleado a la vez!')
                } else {
                    if (seleccionados.length > 0) {
                        actualizarButton.style.display = 'inline-block';
                        eliminarButton.style.display = 'inline-block';
                    } else {
                        actualizarButton.style.display = 'none';
                        eliminarButton.style.display = 'none';
                    }

                }
            }
        });

        function filtrarEmpleados() {
            var inputBusqueda = document.getElementById('busquedaEmpleado');
            var filtro = inputBusqueda.value.toUpperCase();

            var filas = tabla.getElementsByTagName('tr');

            for (var i = 0; i < filas.length; i++) {
                if (filas[i].getElementsByTagName('th').length === 0) {
                    var celdas = filas[i].getElementsByTagName('td');
                    var mostrarFila = false;

                    for (var j = 0; j < celdas.length; j++) {
                        var textoCelda = celdas[j].textContent || celdas[j].innerText;
                        if (textoCelda.toUpperCase().indexOf(filtro) > -1) {
                            mostrarFila = true;
                            break;
                        }
                    }

                    filas[i].style.display = mostrarFila ? '' : 'none';
                }
            }
        }


        eliminarButton.addEventListener('click', function () {
            confirmarBorrado();
        });

        actualizarButton.addEventListener('click', function () {

            const pantallaEmergente = document.createElement('div');
            pantallaEmergente.style.position = 'fixed';
            pantallaEmergente.style.top = 0;
            pantallaEmergente.style.left = 0;
            pantallaEmergente.style.width = '100%';
            pantallaEmergente.style.height = '100%';
            pantallaEmergente.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
            pantallaEmergente.style.display = 'flex';
            pantallaEmergente.style.justifyContent = 'center';
            pantallaEmergente.style.alignItems = 'center';

            const mostrarItems = document.createElement('div');
            mostrarItems.style.backgroundColor = 'white';
            mostrarItems.style.padding = '20px';
            mostrarItems.style.borderRadius = '10px';
            mostrarItems.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.5)';

            const texto = document.createElement('p');
            texto.textContent = 'Seleccione una opcion para actulizar los datos';

            const botonUpdateUsuario = document.createElement('button');
            botonUpdateUsuario.textContent = 'Usuario del empleado seleccionado';
            botonUpdateUsuario.style.backgroundColor = '#007bff';
            botonUpdateUsuario.style.color = 'white';
            botonUpdateUsuario.style.padding = '10px 20px';
            botonUpdateUsuario.style.borderRadius = '5px';
            botonUpdateUsuario.style.border = 'none';
            botonUpdateUsuario.style.cursor = 'pointer';
            botonUpdateUsuario.style.marginRight = '10px';

            const botonUpdateEmpleado = document.createElement('button');
            botonUpdateEmpleado.textContent = 'Empleado seleccionado';
            botonUpdateEmpleado.style.backgroundColor = '#007bff';
            botonUpdateEmpleado.style.color = 'white';
            botonUpdateEmpleado.style.padding = '10px 20px';
            botonUpdateEmpleado.style.borderRadius = '5px';
            botonUpdateEmpleado.style.border = 'none';
            botonUpdateEmpleado.style.cursor = 'pointer';

            mostrarItems.appendChild(texto);
            mostrarItems.appendChild(botonUpdateUsuario);
            mostrarItems.appendChild(botonUpdateEmpleado);

            pantallaEmergente.appendChild(mostrarItems);
            document.body.appendChild(pantallaEmergente);
        
            botonUpdateEmpleado.addEventListener('click', function(){
                actualizarEmpleado()
                pantallaEmergente.remove()
            });

            botonUpdateUsuario.addEventListener('click', function(){  
                 actualizarUsuario()    
                pantallaEmergente.remove()
            });

        });

        function actualizarEmpleado(){

            
        }

        function actualizarUsuario(){

        }

        function confirmarBorrado() {
            const pantallaEmergente = document.createElement('div');
            pantallaEmergente.style.position = 'fixed';
            pantallaEmergente.style.top = 0;
            pantallaEmergente.style.left = 0;
            pantallaEmergente.style.width = '100%';
            pantallaEmergente.style.height = '100%';
            pantallaEmergente.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
            pantallaEmergente.style.display = 'flex';
            pantallaEmergente.style.justifyContent = 'center';
            pantallaEmergente.style.alignItems = 'center';

            const mostrarItems = document.createElement('div');
            mostrarItems.style.backgroundColor = 'white';
            mostrarItems.style.padding = '20px';
            mostrarItems.style.borderRadius = '10px';
            mostrarItems.style.boxShadow = '0 0 10px rgba(0, 0, 0, 0.5)';

            const texto = document.createElement('p');
            texto.textContent = '¿Estás seguro de que quieres borrar esto?';

            const botonAceptar = document.createElement('button');
            botonAceptar.textContent = 'Aceptar';
            botonAceptar.style.backgroundColor = '#007bff';
            botonAceptar.style.color = 'white';
            botonAceptar.style.padding = '10px 20px';
            botonAceptar.style.borderRadius = '5px';
            botonAceptar.style.border = 'none';
            botonAceptar.style.cursor = 'pointer';
            botonAceptar.style.marginRight = '10px';

            const botonCancelar = document.createElement('button');
            botonCancelar.textContent = 'Cancelar';
            botonCancelar.style.backgroundColor = '#007bff';
            botonCancelar.style.color = 'white';
            botonCancelar.style.padding = '10px 20px';
            botonCancelar.style.borderRadius = '5px';
            botonCancelar.style.border = 'none';
            botonCancelar.style.cursor = 'pointer';
            botonAceptar.style.marginRight = '100px';

            botonAceptar.addEventListener('click', function () {
                pantallaEmergente.remove();
                const checkboxes = document.querySelectorAll('input.checkbox-accion:checked');

                checkboxes.forEach(function (checkboxs) {
                    const fila = checkboxs.closest('tr');
                    deleteE(fila);
                    fila.remove();
                });

            });

            botonCancelar.addEventListener('click', function () {
                pantallaEmergente.remove();
            });

            mostrarItems.appendChild(texto);
            mostrarItems.appendChild(botonAceptar);
            mostrarItems.appendChild(botonCancelar);

            pantallaEmergente.appendChild(mostrarItems);
            document.body.appendChild(pantallaEmergente);

        }

        document.addEventListener('DOMContentLoaded', function () {
            const btnActualizar = document.getElementById('actualizar');

        });
        
    </script>

    <script src="/Coriport/src/app/components/EmpleadoComponent.js"></script>
    <script src="/Coriport/src/app/components/UserComponent.js"></script>

</body>