<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Días Feriados</title>
    <link rel="stylesheet" type="text/css" href="../Encargado/styles/diaFeriasdo.css">

</head>
<body>
    
    <center>
        <h2 style="color: white;">Días Feriados</h2>
    </center>
    <br>
    <br>
   
    <div>
        <input type="text" id="busquedaFeriado" placeholder="Buscar día feriado..." oninput="filtrar()">
    </div>

    <div class="cajon">
        <button id="btnAbrirFormulario" class="btnAddFeriado">Registrar Feriado</button>
        <br>

        <div class="tabla">
            <br>
            <table id="feriado-table" border="1">
            
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Tipo Feriado</th>
                        <th>Acción </th>
                    </tr>
                </thead>
                <tbody id="dataTableFeriado">
       
                </tbody>
            </table>
        </div>
        <br>
        
        <div class="acciones-container">
            <div class="izquierda">
                <button style="display: none;" id="eliminar" style="background-color: #ff0000; color: white;">Eliminar</button>
                <button style="display: none;" id="actualizar" style="background-color: #007bff; color: white;">Actualizar</button>
            </div>
            
        </div>
       
    </div>
    
    <div id="pantallaEmergenteAdd" class="fondoNegroForm">
        <div class="formAjuste">
            <form class="form">
                <label for="fecha" >Fecha de Feriado</label>
                <input type="date" id="fecha" name="fecha" required>

                <label for="descripcion" >Descripción</label>
                <input type="text" id="descripcion" name="descripcion" required>

                <label for="tipoFeriado">Tipo de Feriado</label>
                <select id="tipoFeriado" name="tipoFeriado" required>
                    <option value="De Paga">De Paga</option>
                    <option value="No Paga">No Paga</option>
                </select>
                
                <button type="submit" id="sendFeriado">Guardar</button>
                <button type="button" onclick="document.getElementById('pantallaEmergenteAdd').style.display='none'">Cancelar</button>
            </form>
        </div>
    </div>


    <script src="/Coriport/src/app/Scripts/ScriptEncargado/DiasFeriados.js"></script>
    <script src="/Coriport/src/app/components/DiasFeriadosComponent.js"></script>
    <script src="/Coriport/src/app/components/restriccionRoles.js"></script>


</body>

</html>