<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios</title>
    <link rel="stylesheet" type="text/css" href="styles/horario.css">
</head>
<body>
    <center>
        <h2 style="color: white;">Horarios</h2>
    </center>
    <br>
    <br>
    
    <div class="horario-container">
        <div>
            <input type="text" id="busquedaHorario" placeholder="Buscar horario..." oninput="filtrar()">
        </div>
        <table id="horario-table" border="1">
            <thead>
                <tr>
                    <th>Id Horarios</th>
                    <th>Hora Inicion</th>
                    <th>Hora Fin</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody id="dataTableHorario">
           
            </tbody>
        </table>
    </div>
    <br>
    <br>

</body>

</html>
