<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justificacion Ausencia</title>
    <link rel="stylesheet" type="text/css" href="../Encargado/styles/justificacionAusencia.css">

</head>
<body>
    <br>
    <center>
        <h2 style="color: white;">Justificación de Ausencia</h2>
    </center>
    <br>
    <br>
   
    <div class="cajon">
        <div class="tabla">

            <div>
                <input type="text" id="buscarJustificacionAusen" placeholder="Buscar Ausencia..." oninput="ColocarMetodo">
            </div>
            <br>
            <table id="justificacion-table" border="1">
            
                <thead>
                    <tr>
                        <th>Fecha de Solicitud</th>
                        <th>Fecha de Ausencia</th>
                        <th>Archivos</th>
                        <th>Justificación</th>
                        <th>Estado</th>
                        <th>Descripción</th>
                        <th>Encargado</th>
                        <th>ID Empleado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="dataTableJustificacionAusencia">
       
                </tbody>
            </table>
        </div>
        <br>
        
        <div class="acciones-container">
            <div class="izquierda">
                <button id="eliminar" style="background-color: #ff0000; color: white;">Eliminar</button>
                <button id="actualizar" style="background-color: #007bff; color: white;">Actualizar</button>
            </div>
            <div class="aprobar-denegar-container">
                <button id="aprobar" style="background-color: #25ba03; color: white;">Aprobar</button>
                <button id="denegar" style="background-color: #fc4604; color: white;">Denegar</button>
            </div>
        </div>
  
    </div>
    <br>
    <br>
</body>
</html>
