<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de ausencias</title>
    <link rel="stylesheet" type="text/css" href="../Encargado/styles/registroAusencia.css">

</head>

<body>

    <center>
        <h2 style="color: white;">Registro de ausencias</h2>
    </center>

    <br>
    <br>


    <div class="cajon">
        <br>
        <div>
            <input type="text" id="buscarRegistro" placeholder="Buscar ausencia..." oninput="filtrar()">
        </div>
        <div class="tabla">
            <table id="registro-table" border="1">

                <thead>
                    <tr>
                        <th>Id del registro</th>
                        <th>Fecha de la ausencia</th>
                        <th>Empleado ausente</th>
                        <th>Estado de la ausencia</th>

                    </tr>
                </thead>
                <tbody id="dataTableRA">

                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>

    <!-- Estructura para la pantalla emergente -->
    <div id="popup" class="popup">
        <span class="popup-close" onclick="document.getElementById('popup').style.display='none';">✖</span>
        <div class="popup-content" id="popup-content">
            <!-- Aquí se mostrarán los detalles del empleado -->
        </div>
    </div>


    <script src="/Coriport/src/app/components/encargado/RegistroAusenciaComponent.js"></script>
    <script src="/Coriport/src/app/Scripts/ScriptEncargado/RegistroAusencia.js"></script>
    <script src="/Coriport/src/app/Scripts/restriccionRoles.js"></script>

</body>

</html>