<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de vacaciones</title>
    <link rel="stylesheet" type="text/css" href="../Encargado/styles/soliVacaciones.css">

</head>

<body>

    <center>
        <h2 style="color: white;">Solicitud de vacaciones</h2>
    </center>

    <br>
    <br>


    <div class="cajon">
        <br>
        <div>
            <input type="text" id="buscarSolicitud" placeholder="Buscar solicitud..." oninput="filtrar()">
        </div>
        <div class="tabla">
            <table id="solicitud-table" border="1">

                <thead>
                    <tr>
                        <th>Id de la solicitud</th>
                        <th>Fecha de solicitud</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de finalización</th>
                        <th>Descripcion</th>
                        <th>Responsable autorizado</th>
                        <th>Estado</th>
                        <th>Empleado</th>
                        <th>seleccione para aceptar o rechazar</th>
                    </tr>
                </thead>
                <tbody id="dataTableSV">
                  
                </tbody>
            </table>
        </div>
        <div id="fondo-status" style="display: none;">
            <div id="box-statusVacaciones">
                <span class="popup-close"
                    onclick="document.getElementById('fondo-status').style.display='none'; document.getElementById('div-reject').style.display='none'; deseleccionarCheckboxes()">✖</span>
                <p>Solicitud de vacaciones del empleado</p>
                <button class="status-btn" id="status-acept">Aceptar</button>
                <button class="status-btn" id="status-reject">Rechazar</button>
                <br>
                <br>
                <div id="div-reject" style="display: none;">
                    <div>
                        <label for="reject">Digite el motivo del rechazo:</label>
                        <input type="text" id="reject" name="reject" required>
                        <button id="reject-acept-btn" >Aceptar</button>
                    </div>            
                </div>

            </div>
        </div>

        <br>
    </div>
    <br>
    <br>


    <!-- Estructura para la pantalla emergente -->
    <div id="popup" class="popup">
        <span class="popup-close" onclick="document.getElementById('popup').style.display='none';">✖</span>
        <div class="popup-content" id="popup-content">
            <!-- Aquí se mostrarán los detalles del empleado -->
        </div>
    </div>

    <script src="/Coriport/src/app/components/soliVacacionesComponent.js"></script>
    <script src="/Coriport/src/app/Scripts/ScriptEncargado/SolicitudVacaciones.js"></script>

</body>

</html>