<!DOCTYPE html>
<html>
<head>
  <title>Crear Empleado</title>
</head>
<body>
  <h1>Crear Empleado</h1>
  <form id="empleadoForm">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>

    <label for="apellido1">Apellido 1:</label>
    <input type="text" id="apellido1" name="apellido1" required>
    <br>

    <label for="apellido2">Apellido 2:</label>
    <input type="text" id="apellido2" name="apellido2" required>
    <br>

    <label for="apellido2">Telefono 1:</label>
    <input type="text" id="telefono1" name="telefono1" required>
    <br>

    <label for="telefono1">Telefono 2:</label>
    <input type="text" id="telefono1" name="telefono1" required>
    <br>

    <label for="cedula">Cedula :</label>
    <input type="text" id="cedula" name="cedula" required>
    <br>

    
    <label for="fechaContrat">Fecha de contrato :</label>
    <input type="date" id="fechaContrat" name="fechaContrat" required>
    <br>

    <!-- Tenemos que poner aca lo de 
        ID usuario y 
        ID puesto 

    -->

    <button type="submit" id="send" value="send">Guardar</button>
  </form>

  <script src="ScriptEmpleado/CrudEmpleado.js"></script>

</body>
</html>
