<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Días Feriados</title>
    <link rel="stylesheet" type="text/css" href="../Empleado/styles/DiasFeriados.css">

</head>
<body>
    <center>
        <h2 style="color: white;">Días Feriados</h2>
    </center>
    <br>
    <br>

    <div class="cajon">
        <div>
            <input type="text" id="busquedaFeriado" placeholder="Buscar día feriado..." oninput="filtrarFeriado()">
        </div>
        <br>
        <br>
        <div class="tabla">
            <table id="diasFeriados-table" border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Tipo Feriado</th>
                    </tr>
                </thead>
                <tbody id="dataTableDias">
                </tbody>
            </table>
        </div>

    </div>

    <script src="/Coriport/src/app/Scripts/ScriptEmpleado/DiasFeriados.js"></script>
    <script src="/Coriport/src/app/components/empleado/DiasFeriadosComponent.js"></script>
    <script src="/Coriport/src/app/components/restriccionRoles.js"></script>


</body>
</html>