<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/Coriport/src/app/views/Empleado/styles/JustiTardia.css">
</head>
<body>
    <br>
    <center>
        <h2 style="color: white;">Registro de Tardia</h2>
    </center>
    <br>
    <br>
    <div class="Cajon2">
        <div class="Cajon3">

            <table>
                <tr>
                    <th>Fecha de Tardia </th>
                    <th>Estado de Tardia</th>
                    <th>Acción</th>
                </tr>
                <tr>
                    <td>11/03/2024</td>
                    <td>12/05/2024</td>
                    <td>11</td>
                    
                </tr>
                <tr>
                    <td>11/03/2025</td>
                    <td>11/08/2025</td>
                    <td>11</td>
                    
                </tr>
            </table>
        </div>
    </div>
    <script src="/Coriport/src/app/Scripts/ScriptEmpleado/JustiTardia.js"></script>
</body>
</html>