<!DOCTYPE html>
<html>
<head>
  <title>Detalles del Empleado</title>
</head>
<body>
  <h1>Detalles del Empleado</h1>

  <div>
    <h2>Información del Empleado</h2>
    <p><strong>Nombre:</strong> <span id="nombre"></span></p>
    <p><strong>Apellido 1:</strong> <span id="apellido1"></span></p>
    <p><strong>Apellido 2:</strong> <span id="apellido2"></span></p>
    <p><strong>Teléfono 1:</strong> <span id="telefono1"></span></p>
    <p><strong>Teléfono 2:</strong> <span id="telefono2"></span></p>
    <p><strong>Cédula:</strong> <span id="cedula"></span></p>
    <p><strong>Fecha de Contrato:</strong> <span id="fechaContrat"></span></p>
    <!-- Agrega más campos aquí según tus necesidades -->
  </div>

  <button id="editarEmpleadoButton">Editar Empleado</button>
  <button id="eliminarEmpleadoButton">Eliminar Empleado</button>

  <script src="tu-script.js"></script>
</body>
</html>
