<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puesto</title>
    <link rel="stylesheet" type="text/css" href="/Coriport/src/app/views/Empleado/styles/Puesto.css">

</head>
<body>
    <center>
        <h2 style="color: white">Puesto</h2>
    </center>

    <br>
    <br>

    <div>
        <input type="text" id="busquedaPuesto" placeholder="Buscar puesto..." oninput="filtrarPuestos()">
    </div>
    
    <div class="tabla">
        <table id="puesto-table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Puesto</th>
                </tr>
            </thead>
            <tbody id="dataTableP">

            </tbody>
        </table>
    </div>




</body>
</html>