<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Coriport/src/app/views/Empleado/styles/registroTardia.css">
    <title>Document</title>
</head>

<body>
    <header>
        <center>
            <h2 style="color: white;">Registro de tardias</h2>
        </center>

    </header>
    <br>
    <center>
        <div>
            <input type="text" id="buscarRegistro" placeholder="Buscar ausencia..." oninput="filtrar()">
        </div>
    </center>

    <main>
        <div class="Cajon8">
            <div class="Cajon0">
                <table id="registro-table">
                    <thead>
                        <tr>
                            <th>Fecha de la tardia</th>
                            <th>Minutos tarde</th>
                            <th>Estado de la tardia</th>
                        </tr>
                    </thead>
                    <tbody id="dataTableRT">

                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <br>
    <!-- Estructura para la pantalla emergente -->
    <div id="popup" class="popup">
        <span class="popup-close" onclick="document.getElementById('popup').style.display='none';">✖</span>
        <div class="popup-content" id="popup-content">
            <!-- Aquí se mostrarán los detalles del empleado -->
        </div>
    </div>

    <div id="justificacionAdd" class="form-container" style="display: none;">
        <div class="form-content">
            <form class="form">
                <center>
                    <h6>Justificar la ausencia seleccionada</h6>
                </center>

                <div style="display: none;">
                    <label for="idRegistro">Id registro</label>
                    <input type="text" id="idRegistro" readonly>

                    <label for="fechaTardia">Fecha de la tardia</label>
                    <input type="date" id="fechaTardia" readonly>
                </div>

                <label for="motivo">Motivo de la ausencia</label>
                <input type="text" id="motivo" placeholder="Digite el motivo de la ausencia">

                <label for="archivo">Archivo (solo archivos .PDF)</label>
                <input type="file" id="archivo">

                <div class="button-group">
                    <button id="sendJustificacion">Aceptar</button>
                    <button onclick="document.getElementById('justificacionAdd').style.display='none'">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/Coriport/src/app/Scripts/ScriptEmpleado/RegistroTardia.js"></script>
    <script src="/Coriport/src/app/components/empleado/RegistroTardiaComponent.js"></script>
    <script src="/Coriport/src/app/components/empleado/JustificacionTardiaComponent.js"></script>
    <script src="/Coriport/src/app/Scripts/restriccionRoles.js"></script>

</body>

</html>