<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Coriport/src/app/views/Empleado/styles/SoliVacaciones.css">
    <title>Document</title>
</head>

<body>
    <center>
        <h2 style="color: white;">Registro de tardias</h2>
    </center>


    <br>
    <br>
    <div class="Cajon1">

        <div class="Cajon">

            <table id="registro-table">
                <thead>

                </thead>
                <tbody id="dataTableRT">

                </tbody>
            </table>
        </div>
    </div>
    <script src="/Coriport/src/app/Scripts/ScriptEmpleado/SoliVacaciones.js"></script>
</body>

</html>