<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Coriport/src/app/views/Empleado/styles/SoliVacaciones.css">
    <title>Document</title>
</head>

<body>
    <center>
        <h2 style="color: white;">Solicitud de Vacaciones</h2>
    </center>


    <center>
        <button class="Soli" href="#" class="boton-abrir" onclick="mostrarEmergenteA()"> Solicitar Vacaciones </button>
    </center>


    <div class="pantalla-emergenteA" id="pantallaEmergenteA">
        <div class="contenedorA">
            <center>
                <h3 style="color: rgb(0, 0, 0);">Solicitar Vacaciones</h3>
            </center>
            <form id="miFormularioA">
                <label class="H" for="fecha_solicitud">Fecha de Solicitud:</label>
                <input class="H" type="date" id="fecha_solicitud" name="fecha_solicitud" required>

                <label class="A" for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>

                <br>

                <button class="EnviarSoli" type="submit">Enviar Solicitud</button>
            </form>
            <br>
            <a href="#" class="cerrarA" onclick="cerrarEmergenteA()">Cerrar</a>
        </div>
    </div>

    <br>
    <br>
    <div class="Cajon1">

        <div class="Cajon">

            <table>
                <tr>
                    <th>Fecha de Solicitud</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th>Estado</th>
                    <th>Responsable de Autorización</th>
                    <th>Descripción</th>
                </tr>
                <tr>
                    <td>11/03/2024</td>
                    <td>12/05/2024</td>
                    <td>12/06/2024</td>
                    <td>Pediente</td>
                    <td>Pediente</td>
                    <td>Pediente</td>
                </tr>
                <tr>
                    <td>11/03/2025</td>
                    <td>11/08/2025</td>
                    <td>11/07/2025</td>
                    <td>Pediente</td>
                    <td>Pediente</td>
                    <td>Pediente</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="/Coriport/src/app/Scripts/ScriptEmpleado/SoliVacaciones.js"></script>
</body>

</html>