<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Empleado/styles/SoliVacaciones.css">
    <title>Solicitud Vacaciones</title>
</head>

<body>
    <center>
        <h2 style="color: white;">Solicitud de Vacaciones</h2>
    </center>
    <div class="container">
        <button id="btn-crearSoli" onclick="document.getElementById('div-form').style.display='flex'">Crear
            Solicitud</button>
    </div>

    <br>
    <br>
    <center>
        <div>
            <input type="text" id="busquedaSoliVacaciones" placeholder="Buscar Solicitud de vacaciones..."
                oninput="filtrarSoliVacaciones()">
        </div>
    </center>

    <div class="cajon">
        <div class="tabla">
            <table id="soliVacaciones-table" border="1">
                <thead>
                    <tr>
                        <th>Fecha de Solicitud</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                        <th>Estado</th>
                        <th>Responsable</th>
                        <th>Descripción</th>

                    </tr>
                </thead>
                <tbody id="dataTableSoliVacaciones">
                </tbody>
            </table>
        </div>

    </div>

    <div id="div-form" style="display: none;">
        <span class="close" onclick="document.getElementById('div-form').style.display='none'">&#10006;</span>

        <form action="/submit_solicitud" method="post">
            <h2>Crear Solicitud</h2>
            <label for="fechaInicio">Fecha de inicio:</label>
            <input type="date" id="fechaInicio" name="fechaInicio" required>

            <label for="fechaFin">Fecha de finalizacion:</label>
            <input type="date" id="fechaFin" name="fechaFin" required>


            <input id="sendSoli" value="Enviar">
        </form>
    </div>

    <script src="/Coriport/src/app/Scripts/ScriptEmpleado/SolicitudVacaciones.js"></script>
    <script src="/Coriport/src/app/components/empleado/SolicitudVacacionesComponent.js"></script>
    <script src="/Coriport/src/app/components/restriccionRoles.js"></script>


</body>

</html>